Repository kmhk-naka/icarus-interactive-map: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  run: pnpm exec prettier {staged_files} --write
  stage_fixed: true

eslint:
  run: pnpm exec eslint {staged_files} --fix
  stage_fixed: true

stylelint:
  run: pnpm exec stylelint {staged_files} --fix
  stage_fixed: true

Add base routing and Map(Olympus and Styx)
  .gitignore
  .prettierignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/app.html
  src/global.css
  src/lib/data.ts
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/[map]/+layout.server.ts
  src/routes/[map]/+layout.svelte
  src/routes/[map]/+page.server.ts
  src/routes/[map]/+page.svelte
  src/routes/[map]/+page.ts
  static/thumbnail/olympus.jpg
  static/thumbnail/styx.jpg
  tsconfig.json
Due: prettier, eslint, stylelint

Move global.css to static dir
  src/app.html
  static/global.css
Due: prettier, stylelint

Add custom error page
  src/routes/+error.svelte
  src/routes/[map]/+layout.server.ts
  src/routes/[map]/+layout.svelte
  src/routes/[map]/+page.ts
Due: prettier, eslint, stylelint

Delete redundant load function in +page.ts
  src/routes/[map]/+layout.server.ts
  src/routes/[map]/+layout.svelte
  src/routes/[map]/+page.ts
Due: prettier, eslint, stylelint

Use white space for indent instead of tab
  .prettierrc
  .vscode/settings.json
  eslint.config.js
  lefthook.yml
  package.json
  src/app.d.ts
  src/app.html
  src/lib/data.ts
  src/routes/+error.svelte
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/[map]/+layout.server.ts
  src/routes/[map]/+layout.svelte
  src/routes/[map]/+page.svelte
  stylelint.config.js
  svelte.config.js
  tsconfig.json
  vite.config.ts
Due: prettier, eslint, stylelint

Define options as variables
  src/routes/[map]/+page.svelte
Due: prettier, eslint, stylelint

Using sass and place in styles directory
  src/app.html
  styles/global.scss
  vite.config.ts
Due: prettier, eslint, stylelint

Add storing POIs feature
  .stylelintignore
  .vscode/settings.json
  eslint.config.js
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  src/lib/data.ts
  src/lib/database.ts
  src/lib/icon.ts
  src/routes/[map]/+page.svelte
  src/routes/[map]/PoiEditor.svelte
  static/icons/campfire.svg
  static/icons/cave.svg
  static/icons/ore-deposit.svg
  static/icons/pickaxe.svg
  stylelint.config.js
  styles/_variables.scss
  svelte.config.js
Due: prettier, eslint, stylelint

Change the setting of prettier.trailingComma to all
  .prettierrc
  eslint.config.js
  src/lib/data.ts
  src/lib/database.ts
  src/routes/+page.server.ts
  src/routes/[map]/+layout.server.ts
  src/routes/[map]/+page.svelte
  stylelint.config.js
  styles/_variables.scss
  svelte.config.js
  vite.config.ts
Due: prettier, eslint, stylelint

Allows naming of POIs and places the POI editor in the sidebar instead of a Popup
  src/lib/database.ts
  src/routes/[map]/+page.svelte
  src/routes/[map]/PoiEditor.svelte
Due: prettier, eslint, stylelint

Fixed missing stylelint configs and reformat project src
  package.json
  src/routes/+page.svelte
  src/routes/[map]/+layout.svelte
  src/routes/[map]/+page.svelte
  src/routes/[map]/PoiEditor.svelte
  stylelint.config.js
  styles/global.scss
Due: prettier, eslint, stylelint

Add Map assets guide
  .gitignore
  static/map/README.md
Due: prettier

Add LICENSE
  LICENSE
Due: none

Update README on using and customizing this application
  README.md
Due: prettier

Removed comments that have been fixed by updating @types/leaflet
  package.json
  pnpm-lock.yaml
  src/routes/[map]/+page.svelte
Due: prettier, eslint, stylelint

Updated dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

Updated packageManager version
  package.json
Due: prettier

Ignoring LICENSE file in linting
  .prettierignore
  .stylelintignore
Due: none

Added testing libraries
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
  vitest-setup.ts
Due: prettier, eslint

Added testing hooks on pre-push
  lefthook.yaml
Due: none

Added top page testing
  src/routes/page.svelte.test.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,ts,svelte,css,scss,json,md}
  eslint: any of: *.{js,ts,svelte}
  stylelint: any of: *.{svelte,css,scss}
